@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $font-size;
  font-family: $font-family;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

button {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
}

input {
  font-family: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
