$blue: hsl(231, 69%, 60%);
$red: hsl(0, 94%, 66%);
$gray: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);
$very-dark-blue-alpha: hsla(229, 31%, 21%, 0.9);
$thin-border-white: 1px solid rgba(255, 255, 255, 0.161);
$thin-border-black: 1px solid rgba(0, 0, 0, 0.161);

$font-size: 18px;
$font-family: "Rubik", sans-serif;
