:root {
    --blue: hsl(231, 69%, 60%);
    --red: hsl(0, 94%, 66%);
    --gray: hsl(229, 8%, 60%);
    --very-dark-blue: hsl(229, 31%, 21%);
    --very-dark-blue-alpha: hsl(229, 31%, 21%,.90);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}
body {
    min-height: 200vh;
}
button {
    border: none;
    outline: none;
    background: none;
    font-family: inherit;
    cursor: pointer;
    font-size: inherit;
    color: inherit;
    border-radius: 8px;
    text-transform: inherit;
    letter-spacing: inherit;
    text-align: inherit;
}
a {
    text-decoration: none;
    color: inherit;
}

.wrap {
    margin: 0 auto;
    width: min(1200px, 85%);
}

/* ------------------NAV---------------------- */

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 40px 0;
}

.nav-flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav.active {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    padding: 40px 30px;
    background-color: var(--very-dark-blue-alpha);
}

.menu-list {
    flex: 1;
    display: none;
    margin-top: 40px;
    font-size: 1.2em;
    color: white;
    text-transform: uppercase;
    list-style: none;
    letter-spacing: 1px;
}

.nav.active>.menu-list {
    display: block;
}

.menu-item {
    display: block;
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.161);
}

.menu-list>li:first-of-type>.menu-item{
    border-top: 1px solid rgba(255, 255, 255, 0.161);
}

.social-media-container {
    width: 85px;
    margin: 0 auto;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.nav.nav.active>.social-media-container {
    display: flex;
}

.login-btn {
    width: 100%;
    margin-top: 20px;
    padding: 10px 30px;
    text-align: center;
    border: 3px solid white; 
    color: white;
}

@media (min-width: 740px) {
    .nav {
        display: flex;
        justify-content: space-between;
    }

    .nav-burger {
        display: none;
    }

    .menu-list {
        display: flex;
        align-items: center;
        gap: 46px;
        margin-top: 0px;
        flex: 0;
        font-size: 0.75em;
        color: black;
    }
    
    .menu-item {
        padding: 0;
        border-bottom: none;
    }

    .menu-item:hover {
        color: var(--red);
    }
    
    .menu-list>li:first-of-type>.menu-item{
        border-top: none;
    }
    
    .login-btn {
        margin-top: 0px;
        border-color: var(--red);
        background-color: var(--red);
    }
    .login-btn:hover {
        background-color: white;
        color: var(--red);
    }
}

@media (min-width: 950px) {
    .nav {
        padding-right: 90px;
    }
}