:root {
    --blue: hsl(231, 69%, 60%);
    --red: hsl(0, 94%, 66%);
    --gray: hsl(229, 8%, 60%);
    --very-dark-blue: hsl(229, 31%, 21%);
    --very-dark-blue-alpha: hsl(229, 31%, 21%,.90);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}
body {
    min-height: 200vh;
    overflow-x: hidden;
}
button {
    border: none;
    outline: none;
    background: none;
    font-family: inherit;
    cursor: pointer;
    font-size: inherit;
    color: inherit;
    text-transform: inherit;
    letter-spacing: inherit;
    text-align: inherit;
}
a {
    text-decoration: none;
    color: inherit;
}

.wrap {
    margin: 0 auto;
    width: min(1200px, 85%);
}

.btn {
    border-radius: 8px;
    padding: 10px 30px;
    text-align: center;
    border: 3px solid white; 
}

.btn-blue {
    color: white;
    border-color: var(--blue);
    background-color: var(--blue);
}
.btn-blue:hover {
    color: var(--blue);
    background-color: white;
}

.btn-gray {
    color: var(--very-dark-blue);
    background-color: rgb(247, 247, 247);
    border-color: rgb(247, 247, 247);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.btn-gray:hover {
    border-color: var(--gray);
}

.btn-red {
    border-color: var(--red);
    background-color: var(--red);
    color: white;
}

.btn-red:hover {
    background-color: white;
    color: var(--red);
}

.heading {
    color: var(--very-dark-blue);
    margin-bottom: 20px;
    line-height: 150%;
}

.text {
    color: var(--gray);
    line-height: 140%;
}
/* ------------------NAV---------------------- */

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
}

.nav-flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav.active {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    padding: 40px 30px;
    background-color: var(--very-dark-blue-alpha);
}

.menu-list {
    flex: 1;
    display: none;
    margin-top: 40px;
    font-size: 1.2em;
    color: white;
    text-transform: uppercase;
    list-style: none;
    letter-spacing: 1px;
}

.nav.active>.menu-list {
    display: block;
}

.menu-item {
    display: block;
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.161);
}

.menu-list>li:first-of-type>.menu-item{
    border-top: 1px solid rgba(255, 255, 255, 0.161);
}

.social-media-container {
    width: 85px;
    margin: 0 auto;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.nav.nav.active>.social-media-container {
    display: flex;
}

.login-btn {
    width: 100%;
    margin-top: 20px;
    border-color: white;
    background-color: transparent;
} 

.login-btn:hover{
    background-color: transparent;
    color: white; 
}

@media (min-width: 820px) {
    .nav {
        display: flex;
        justify-content: space-between;
        z-index: 99;
    }

    .nav-burger {
        display: none;
    }

    .menu-list {
        display: flex;
        align-items: center;
        gap: 46px;
        margin-top: 0px;
        flex: 0;
        font-size: 0.75em;
        color: black;
    }
    
    .menu-item {
        padding: 0;
        border-bottom: none;
    }

    .menu-item:hover {
        color: var(--red);
    }
    
    .menu-list>li:first-of-type>.menu-item{
        border-top: none;
    }
    
    .login-btn {
        margin-top: 0px;
        border-color: var(--red);
        background-color: var(--red);
    }
    .login-btn:hover {
        color: var(--red);
    }
}

@media (min-width: 950px) {
    .nav {
        padding-right: 90px;
    }
}

/* ------------------HERO---------------------- */

.hero {
    margin-top: 122px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.illustration-container {
    position: relative;
}
.illustration-container::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 100vw;
    height: 75%;
    border-radius: 0 0 0 100px;
    background-color: var(--blue);
    z-index: -1;
}

.illustration {
    width: 100%;
    transform: scale(1.1);
}

.text-container {
    text-align: center;
}

.text-container>p{
    margin: 20px 0;
}

.text-container>button {
    padding: 10px 15px;
    font-size: .8em;
}

@media (min-width: 450px) {
    .text-container>button:nth-of-type(1) {
        margin-right: 20px;
    }

    .text-container {
        font-size: 1.2em;
    }
}

@media (min-width: 820px) {
    .hero {
        flex-direction: row-reverse;
        gap: 35px;
        align-items: center;
    }
    .hero>*{
        flex-basis: 50%;
    }
    .illustration-container::after{
        left: 35%;
    }
    .text-container {
        font-size: 1em;
        text-align: left;
    }

    .text-container>h1 {
        font-size: 2em;
    }
    
}


@media (min-width: 1025px) {

    .text-container {
        font-size: 1.2em;
    }
    
}
