@use "../global/variables" as *;

.download {
  margin-top: 150px;

  &-cards-container {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 65px;
  }

  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 20px 0;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    & h4 {
      margin: 0;
    }

    & p {
      font-size: 0.8em;
    }

    & button {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

@media (min-width: 820px) {
  .download {
    &-cards-container {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      gap: 25px;
    }

    &-card {
      &:nth-of-type(2) {
        margin-top: 40px;
      }

      &:nth-of-type(3) {
        margin-top: 80px;
      }
    }
  }
}
