@use "../variables" as *;

.features {
  margin-top: 150px;

  &-btns {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    max-width: 750px;
    text-align: center;
  }

  &-btn {
    position: relative;
    padding: 20px 0;
    color: $gray;
    border-bottom: $thin-border-black;
    flex: 1;

    &:hover {
      color: $red;
    }

    &:nth-of-type(1) {
      border-top: $thin-border-black;
    }

    &.active {
      color: $very-dark-blue;

      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 25%;
        width: 50%;
        height: 3px;
        background-color: $red;
      }
    }
  }

  &-tab {
    display: none;

    &.active {
      display: block;
    }
  }

  &-text-and-ilustration-container {
    gap: 80px;
  }

  &-ilustration-container::after {
    bottom: -15%;
    right: 15%;
    left: auto;
    height: 97%;
    border-radius: 0 200px 100px 0;
  }

  &-ilustration-container-tab-2::after {
    bottom: -5%;
    right: 35%;
    height: 85%;
  }

  &-ilustration-container-tab-3::after {
    bottom: -8%;
    right: 20%;
    height: 85%;
  }
}

@media (min-width: 820px) {
  .features {
    &-btns {
      display: flex;
      flex-direction: row;
    }

    &-btn {
      &.active::after {
        left: 0;
        width: 100%;
      }

      &:nth-of-type(1) {
        border-top: none;
      }
    }

    &-text-and-ilustration-container {
      flex-direction: row;
    }

    &-text-container {
      text-align: left;
    }
  }
}
